@page
@model EjerciciosRazorPages.Pages.IMCModel
@{
}

<h1>Calcular IMC</h1>
<form method="post">
	<p>Cual es tu peso?</p>
	<input type="text" asp-for="peso" />

	<p>Cual es tu altura?</p>
	<input type="text" asp-for="altura" />

	<button type="submit">Calcular</button>
</form>


<h2>IMC: @Model.imc</h2>


@switch 
(Model.imc)
{
	case < 18:
		<p>Estas bajo de peso</p>
		<img src="https://m.media-amazon.com/images/I/41eZrKITXZL.jpg" />
		break;
	case >= 18 and < 25:
		<p>Estas en tu peso ideal</p>
		<img src="https://i.pinimg.com/736x/4e/5c/f7/4e5cf7d4ccb9c59b6620a9c71944d51e.jpg" />
		break;

	case >= 25 and < 27:
		<p>Estas con sobrepeso</p>
		<img src="https://media.istockphoto.com/id/1385674044/es/vector/icono-vectorial-de-no-comer-y-beber.jpg?s=612x612&w=0&k=20&c=owaCi8VQauY8pBZ1CS0To5cNFinWubrpYg-rkkwrc48=" />

		break;

	case >= 27 and < 30:
		<p>Estas con obesidad grado 1</p>
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwsq4rcycLdiCfyEf2mp3lHCbzFk0JnixoMA&s" />
		break;

	case >= 30 and < 40:
		<p>Estas con obesidad grado 2</p>
		<img src="https://i.ytimg.com/vi/C1a57iyMO6o/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA0CNWKD9U4V08_lheN9NlsGB5ljg" />
		break;

	case >= 40:
		<p>Estas con obesidad grado 3</p>
		<img src="https://symbl-cdn.com/i/webp/d6/8afe6b0c9f1fd20a34ad76ffbfaff0.webp" />
		break;
}
